body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(2, 3, 23);
  color: rgb(10, 6, 146);
  margin: 0 !important;
  padding: 0 !important;
}


.cont {
  width: 100vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#header img {
  margin-top: 0;
  width: 100vw;
  height: auto;
}
#header {
  width: 100vw;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.article img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.article {
  width: 30%;
  margin: 20px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.5s ease-in-out;
}
.article:hover {
  transform: scale(1.1);
}
.layout {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
@media screen and (max-width: 600px) {
  .layout {
    flex-direction: column;
  }
  .article {
    width: 100%;
    margin: 20px 0;
  }
} 
.noShow {
  display: none !important;
}

.content {
  width: 100%;
  height: auto;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wide {
  width: 100%;
  z-index: 1;
}

body::-webkit-scrollbar {
  width: 20px;
}
body::-webkit-scrollbar-track {
  background-color: black;
}

body::-webkit-scrollbar-thumb {
  background: rgb(80, 2, 2);
  border-radius: 10px;
}
body::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}
.clr-blue {
  color: rgb(14, 11, 94);
}
.clr-blue:hover {
  color: rgb(10, 6, 146);
}
.bg-black {
  background-color: black;
}
.bg-yay {
  background-color: rgb(18, 4, 84);
  color: #b30000;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}
#mostPopular{
  margin-top: 80px;
}
#mostPopular h1, #nowPlaying h1, #upComing h1 {
  margin: 10px;
  color: white;
}
#mostPopular, #nowPlaying, #upComing {
  width: 80%;
}